*.o
*.d
**/*.tmp
test
result
tests/benchmark-exec/*
!tests/benchmark-exec/Makefile
!tests/benchmark-exec/.gitignore
!tests/benchmark-exec/.tm_properties
!tests/benchmark-exec/*.cpp
!tests/benchmark-exec/*.hpp
!tests/benchmark-exec/*.js
*.pyc
.conan/test_package/build
mtent12.txt
*.zip
tests/benchmark-range/*
!tests/benchmark-range/*.cpp
!tests/benchmark-range/*.hpp
build
cmake-build-*/*
.idea/*